[flake8]
max-line-length=99
exclude=
    .git
    lookout/core/api
    .eggs
    doc
    lookout/style/format/research
    lookout/style/typos/research
inline-quotes="
import-order-style=appnexus
application-package-names=lookout
