[flake8]
ignore=B008,E121,E123,E126,E226,E24,E704,W503,W504,D100,D105,D200,D301,D402
max-line-length=99
exclude=
    .git
    doc
    **/research
    ./lookout/style/typos/benchmarks/reports
inline-quotes="
import-order-style=appnexus
application-package-names=lookout.style
per-file-ignores=
    **/tests/*:D
    **/test*.py:D
    lookout/style/typos/symspell.py:D
