language: python
sudo: false
dist: xenial
git:
  depth: 9999999
services:
- docker
addons:
  apt:
    packages:
      - libsnappy-dev
cache: pip
before_cache:
  - chown -R travis:travis $HOME/.cache/pip
stages:
  - test
  - name: deploy
    # require any tag name to deploy
    if: tag =~ .*
  - name: deploy-k8s
    if: tag =~ .*
_install: &_install
  - pip install --upgrade pip cython codecov
  - pip install -e .[test,plot]
_coverage: &_coverage
  - SCRIPT="coverage run --concurrency=multiprocessing -m unittest discover
            && coverage combine
            && git clone --single-branch --depth 1 git://github.com/facebook/react
            && find react -name '*.js' | xargs python3 -m lookout.style.format.langs -o /tmp/test"
_deploy: &_deploy
  provider: script
  script: twine upload dist/*py3-none-any* -u $PYPI_LOGIN -p $PYPI_PASS
  skip_cleanup: true
  on:
    tags: true
matrix:
  include:
    - python: 3.5
      env: *_coverage
      install: *_install
    - python: 3.6
      env: *_coverage
      install: *_install
    - python: 3.7
      env: SCRIPT="flake8 . --config .flake8-code
                   && pylint lookout
                   && flake8 . --config .flake8-doc
                   && (! grep -R /tmp lookout/style/*/tests)
                   && rm -rf lookout/core/server
                   && cd doc && make
                   && cd ../lookout/style/format/visualizer && npm run build"
      install:
        - pip install -r doc/requirements.txt -r requirements-lint.txt
        - cd lookout/style/format/visualizer && npm install && cd -
    - python: 3.6
      env: SCRIPT="make docker-build && make docker-test"
    - python: 3.7
      env: *_coverage
      install: *_install
      after_success:
        - codecov
    # - stage: deploy
    #   python: 3.5
    #   install:
    #     - pip3 install --upgrade pip
    #     - pip3 install twine
    #   before_script: skip
    #   script:
    #     - python3 setup.py bdist_wheel
    #   deploy: *_deploy
    - name: 'Push image to Docker Hub'
      python: 3.5
      stage: deploy
      script:
        - DOCKER_PUSH_LATEST=true make docker-push
    - name: 'Deploy to staging'
      stage: deploy-k8s
      python: 3.5
      install:
        - make install-helm
      script:
        - HELM_RELEASE=lookout-style-analyzer HELM_CHART=lookout-style-analyzer K8S_NAMESPACE=lookout HELM_ARGS="--tiller-namespace=lookout --repo https://src-d.github.io/charts/ --set image.tag=$TRAVIS_TAG -f .helm_staging.yml" make deploy
  fast_finish: true
before_script:
  - make bblfsh-start
script:
  - (eval "$SCRIPT")
notifications:
  email: false
