sourced-ml==0.7.2
lookout-sdk-ml==0.4.0
scikit-learn==0.20.1
scikit-optimize==0.5.2
pandas==0.22.0
gensim==3.6.0
# gensim implicitly requires this
google-compute-engine==2.8.3
xgboost==0.72.1
tabulate==0.8.2
jinja2==2.10