protobuf==3.7.1
sourced-ml-core==0.0.3
lookout-sdk-ml==0.19.1
scikit-learn==0.20.1
scikit-optimize==0.5.2
pandas==0.22.0
gensim==3.7.3
# gensim implicitly requires this
google-compute-engine==2.8.3
xgboost==0.72.1
tabulate==0.8.2
python-igraph==0.7.1.post6
smart-open==1.8.1
joblib==0.13.2
sortedcontainers==2.1.0  # TODO(zurk): move to lookout sdk ml
git+https://github.com/facebookresearch/fastText@51e6738d734286251b6ad02e4fdbbcfe5b679382
spacy==2.1.4
