.Visualization p {
  margin-bottom: 1rem;
}

.Visualization button {
  margin-top: 1rem;
}

.Visualization span.non-concept {
  color: #999;
}

.Code, .Features {
  font-family: monospace;
  overflow: auto;
  height: 500px;
}

.Visualization pre {
  overflow: visible;
}

.Visualization input[type="number"] {
  width: 4em;
}
