.Visualization p {
  margin-bottom: 1rem;
}

.Visualization button {
  margin-top: 1rem;
}

.Code,
.Details {
  font-family: monospace;
  overflow: auto;
  height: 500px;
}

.Code pre {
  font-family: monospace;
  overflow: visible;
  background-color: #fff;
  border: 0px;
}

.Visualization input[type="number"] {
  width: 4em;
}
