{% set max_role_len = [roles.keys() | map("length") | max, internal_types.keys() | map("length") | max] | max %}
{% set sum_roles = roles.values() | sum %}
{% set sum_types = internal_types.values() | sum %}
{% macro freq(name, value) -%}
{{ '%-*s' | format(max_role_len + 4, '"%s":' | format(name)) }} {{ "%.5E" | format(value) }},
{%- endmacro %}
INTERNAL_TYPES_FREQ = {
{% for type, n in internal_types.items() | sort(true,attribute="1") %}
    {{ freq(type, n / sum_types) }}
{% endfor %}
}

ROLES_FREQ = {
{% for role, n in roles.items() | sort(true, attribute="1") %}
    {{ freq(role, n / sum_roles) }}
{% endfor %}
}

INTERNAL_TYPES = sorted(INTERNAL_TYPES_FREQ)
INTERNAL_TYPES_INDEX = {r: i for i, r in enumerate(INTERNAL_TYPES)}
ROLES = sorted(ROLES_FREQ)
ROLES_INDEX = {r: i for i, r in enumerate(ROLES)}
