### Typos correction report

| Score type | Accuracy | Precision | Recall | F1-score |
|-----------:|:---------|:----------|:-------|:---------|
{% for mode in scores -%}
| `{{ mode }}` | {{ "%.3f" % scores[mode]["accuracy"] -}}
| {{ "%.3f" % scores[mode]["precision"] -}}
| {{ "%.3f" % scores[mode]["recall"] -}}
| {{ "%.3f" % scores[mode]["f1"] -}} |
{% endfor %}


<details>
    <summary>Machine-readable report</summary>
```json
{
  "scores": {{ scores | tojson }}
}
```
</details>
