### Typos correction report

| Score type | Accuracy  | Precision |  Recall   | F1-score  |
|-----------:|:----------|:----------|:----------|:----------|
{% for mode in scores %}
| {{ "%10s" % mode}} | {% for metric in ["accuracy", "precision", "recall", "f1"] %} {{ "  %.3f " % scores[mode][metric] }} | {% endfor %}
{% endfor %}


<details>
    <summary>Machine-readable report</summary>
```json
{
  "scores": {{ scores | tojson }}
}
```
</details>
