### Typos correction report

{% set scores = {" detection": get_scores(data, suggestions, ScoreMode.detection)} %}
{% for mode in [ScoreMode.on_typoed, ScoreMode.correction] %}
        {% for k in range(1, 4) %}
            {% do scores.__setitem__("%s top %i" % (mode.value, k), get_scores(data, suggestions, mode, k)) %}
        {% endfor %}
{% endfor %}
|        Score type        | Accuracy  | Precision |  Recall   | F1-score  |
|-------------------------:|:----------|:----------|:----------|:----------|
{% for item in scores|dictsort %}
| {{ "%24s" % item[0]}} | {% for metric in ["accuracy", "precision", "recall", "f1"] %} {{ "  %.3f " % item[1][metric] }} | {% endfor %}

{% endfor %}
