format: style mismatch:
{% if config.report_code_lines %}
```{{ language }}
{% for l in range([0, line_number - 2]|max, [line_number + 1, code_lines|length]|min ) %}
{{ "%d|%s" % (l + 1, code_lines[l]) }}
{% endfor %}
```
{% endif %}
{% if new_code_line != None and new_code_line != code_lines[line_number - 1] %}
```suggestion
{{ new_code_line }}
```

{% endif %}
{% for vnode in fixed_vnodes %}
`{{ hash_rule(vnode.applied_rule) }}` {{ describe_change(vnode) }}
    {% if config.report_triggered_rules %}
Triggered rule
```
{{ describe_rule(vnode.applied_rule) }}
```
    {% endif %}
{% endfor %}
