format: style mismatch:
{% if config.report_code_lines %}
```{{ language }}
{% for l in range([0, line_number - 2]|max, [line_number + 1, code_lines|length]|min ) %}
{{ "%d|%s" % (l + 1, code_lines[l]) }}
{% endfor %}
```
{% endif %}
{% if new_code_line != code_lines[line_number - 1] %}
```suggestion
{{ new_code_line }}
```

{% endif %}
{% for rule_index, vnode, y in (winners, vnodes, fixed_labels)|zip %}
{{ describe_change(vnode, y) }}
    {% if config.report_triggered_rules %}
Triggered rule # {{ rule_index or "<N/A>" }}
```
{{ describe_rule(rules[rule_index]) }}
```
    {% endif %}
{% endfor %}